---
type Props = {
  pages: any[];
  currentPage: string;
};

function createPageCursor(url: any) {
  const index = pages.findIndex((page) => page.url == url);

  const prev = pages[index - 1];
  const next = pages[index + 1];

  return [prev, next];
}

const { currentPage, pages } = Astro.props as Props;
const [prevPage, nextPage] = createPageCursor(currentPage);
---

<section class="grid grid-cols-2 gap-4">
  {
    prevPage ? (
      <a class="border border-gray-300 py-2 px-4 rounded-lg" href={prevPage.url}>
        <div>Previous</div>
        {prevPage.frontmatter.title}
      </a>
    ) : (
      <div />
    )
  }

  {
    nextPage && (
      <a class="border border-gray-300 py-2 px-4 text-right rounded-lg" href={nextPage.url}>
        <div>Next</div>
        {nextPage.frontmatter.title}
      </a>
    )
  }
</section>

<style>

</style>
