---
import { getConfig } from "../helpers";
import BaseHead from "./BaseHead.astro";

const config = await getConfig();
const Head = config?.theme?.extend?.head;

import("../generated/astrosaurus.css").catch();
---

<html>
  <head>
    <BaseHead />
    {Head && Head}
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
