---
import type { MarkdownHeading } from "astro";

type Props = {
  headings: MarkdownHeading[];
};

const headings = Astro.props.headings;

let activeHeading = Astro.url.pathname;

//TODO: SIDEBAR INTERACTIVE LIKE VITEPRESS
---

<aside class="h-fit p-8 hidden lg:block">
  <div class="border-l">
    <h2 class="ml-4 mb-2 heading font-bold text-gray-700">On this page</h2>
    <ul class="ml-4 space-y-2">
      {
        headings
          ?.filter(({ depth }) => depth > 1 && depth < 4)
          .map((heading) => (
            <li
              class={`heading-link depth-${heading.depth} ${
                activeHeading === heading.slug ? "active" : ""
              }`.trim()}
            >
              <a href={`#${heading.slug}`}>{heading.text}</a>
            </li>
          ))
      }
    </ul>
  </div>
</aside>
