---
import Github from "../../icons/Github.astro";
import Twitter from "../../icons/Twitter.astro";
import { getConfig } from "../../helpers";

const config = getConfig();

const socialIcons = {
  github: Github,
  twitter: Twitter,
};

const socials = Object.entries<any>(config?.socials || {})
  .map(([provider, value]) => {
    // @ts-ignore
    let Icon = socialIcons[provider];

    if (Icon) return { provider, Icon, url: value };

    Icon = typeof value == "object" ? value?.icon : null;
    if (Icon) return { provider, Icon, url: value?.url };

    return { provider: "unkown", Icon, url: "" };
  })
  .filter((x) => x.url);
---

{
  socials.map(({ url, Icon }) => (
    <a class="hover:text-main" href={url}>
      <Icon />
    </a>
  ))
}
